/*GLOBAL*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(250,  244,  238);
    color: rgb(53, 64, 102);
}

h1, h2{
    color: rgb(53, 64, 102) !important;
    font-weight: bold !important;
}

.border{
    border: 1px solid black;
}

.uk-offcanvas-bar{
    background-color: rgb(53, 64, 102) !important; 
}

.uk-offcanvas-bar * {
    color: rgb(250,  244,  238) !important;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(53, 64, 102) !important; /* Button color */
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 9999;
}

.uk-form-label{
    color: rgb(53, 64, 102) !important;
    font-size: 1.1rem !important;
}

/*LAYOUT*/

.max-width-container{
    display: flex;
    justify-content: center;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.max-width{
    width: 100%;
    max-width: 1140px;
    padding: 1em;
}

.section-grid > * {
    grid-column: 1 / -1;
}

/* LAYOUT - HEADER */

.mobile-header{
    background-color: rgb(250,  244,  238);
    color: rgb(53, 64, 102);   
}

.mobile-header-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* LAYOUT - MENU */

.uk-nav-sub li{
    font-family: "Merriweather", serif;
    margin-bottom: 1.5rem !important;
}

/*LAYOUT - FOOTER*/
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footer-flags{
    display: flex;
    flex-direction: row;
}
.footer-copyright{
    text-align: center;
}
/* LAYOUT */

.page-hero{
    height: 30vh;
}
.page-title-hero{
    height: 10vh;
}

/* LAYOUT - HOME*/

.site-hero{
    height: 90vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Red with opacity */
    z-index: 1; /* Ensures this div is on top */
  }

video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.services-card-body h3, .services-card-body p{
    color:rgb(53, 64, 102) !important;
}

.service-carousel-image{
    width: auto;
    height: 300px;
    object-fit: cover;
}

/* LAYOUT - SERVICE DETAILS */

.service-details-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title{
    justify-self: center;
    align-self: center;
}