/*GLOBAL*/

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(255,  250,  243, 1);
    color: rgb(53, 64, 102);
}

h1, h2{
    color: rgb(53, 64, 102) !important;
}

.border{
    border: 1px solid black;
}

.uk-offcanvas-bar{
    background-color: rgb(53, 64, 102) !important; 
}

.uk-offcanvas-bar * {
    color: rgb(255,  250,  243, 1) !important;
}

/*LAYOUT*/

.max-width-container{
    display: flex;
    justify-content: center;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.max-width{
    width: 100%;
    max-width: 1140px;
    padding: 1em;
}

.section-grid > * {
    grid-column: 1 / -1;
}

/* LAYOUT - HEADER */

.mobile-header{
    background-color: rgb(255,  250,  243, 1);
    color: rgb(53, 64, 102);   
}

.mobile-header-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-header-menu-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mobile-header-ndis{
    justify-self: flex-end;
}

/* LAYOUT - MENU */



/*LAYOUT - FOOTER*/
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footer-flags{
    display: flex;
    flex-direction: row;
}
.footer-copyright{
    text-align: center;
}
/* LAYOUT */

.page-hero{
    height: 30vh;
}
.page-title-hero{
    height: 10vh;
}

/* LAYOUT - HOME*/

.site-hero{
    height: 92vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Red with opacity */
    z-index: 1; /* Ensures this div is on top */
  }

video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.uk-card-body{
    background-color:rgb(255,  250,  243, 0.2) !important;
    color:rgb(53, 64, 102) !important;
}

.uk-card-title{
    color:rgb(53, 64, 102) !important;
}

.service-carousel-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* LAYOUT - SERVICE DETAILS */

.service-details-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title{
    justify-self: center;
    align-self: center;
}